*{
    box-sizing: border-box;
}

body{
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}
.toggle{
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 7px;
    padding: 5px;
    align-self: flex-end;

}
.calculator-body{
    width: 25vw;
    height: auto;
    background-color: black;
    margin: auto;
    /* overflow: scroll; */
    font: monospace;
}

.quarter{
    width: 24.5%;
}
.half{
    width: 50%;
}
.threefourth{
    width: 75%;
}

.screen{
    width: 100%;
    height: auto;
    font-size: 30px;
    color: white;
    padding: 5px;
    background-color: black;
    display: flex;
    justify-content:flex-end;
}

button{
    background-color: #eeeeee;
    text-decoration: none;
    height: 50px;
    width: auto;
    /* border: none; */
    font-size: 30px;
    padding: 5px;
}

.row button:last-child {
    background: #df974c;
}

.row{
    display: flex;
    justify-content: space-between;

}